<h1>Courtney Seto</h1>
<div>
  <p>I am a detail oriented and curious full stack web developer with over 
  four years of project experience focused on process improvement and data analytics. 
  </p>
  <p>After earning a B.S. in Industrial &amp; Systems Engineering from the
  University of Washington, I took my education a step further by completing the UW Full Stack Development
  Bootcamp to indulge my love of coding and gain the skills needed to apply my systems thinking and 
  passion for optimization to develop solutions to real world problems. 
  </p>
  <p>
  When I am not working on a side project or growing my tech stack, 
  you can probably find me meticulously planning my next travel / ebike adventure, reading about a fantastical magic land, 
  or volunteering with one of my favorite organizations for STEM education outreach. 
  </p>
</div>

<ul>
    <li><a href="https://github.com/setocourtney">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/courtneyseto/">LinkedIn</a></li>
    <li><a href="mailto:courtneyjseto@outlook.com">Email</a></li>
</ul>

